<!-- features -->
<div class="features" id="features">
  <div class="container">
    <h3>What We Do</h3>
    <div class="border"> </div>
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li *ngFor="let feature of features;let i= index;" 
          role="presentation" class=""><a href="#Feature{{i}}" 
          id="Feature{{i}}-tab" role="tab" data-toggle="tab" 
          attr.aria-controls="Feature{{i}}" aria-expanded="false"
          [ngClass]="{'active': i ===0}">{{ feature.category }}</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div *ngFor="let feature of features;let i= index;" 

          role="tabpanel fade" class="tab-pane fade"  [ngClass]="{'active in': i===0}" id="Feature{{i}}" 
          attr.aria-labelledby="Feature{{i}}-tab">
          <div class="w3agile_tabs">
            <div class="col-md-7 w3agile_tab_left">
              <h4>{{ feature.title }}</h4>
              <p> {{ feature.description }}</p>
            </div>
            <div class="col-md-5 w3agile_tab_right w3agile_tab_right2">
              <img src="./assets/images/{{feature.imageUrl}}" alt=" " class="img-responsive">
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //features-->