<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="logo-footer-1">
      <div class="col-md-6 logo-w3l-footer">
        <h2><a class="navbar-brand" href="index.html"><span>L</span>ux Nails & Spa</a></h2>
      </div>
      <div class="col-md-6 logo-w3l-footer2">
        <ul>
          <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></li>
          <li>Office Address</li>
          <li>1106 West Hefner Rd, Oklahoma City, OK 73114</li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!-- newsletter -->
    <!-- <div class="newsletter-w3l">
      <div class="col-md-8 get-in-grids">
        <div class="get-in-grid-left">
          <p>Subscribe Here<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></p>
        </div>
        <div class="get-in-grid-right">
          <form action="#" method="post">
            <input type="email" name="email" Placeholder="Enter Your Mail..." required="">
            <input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
      <div class="col-md-4 w3l_header_right soci-w3">
        <div class="navbar-right social-icons">
          <ul>
            <li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
            <li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
            <li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li>
            <li><a href="#" class="fa fa-rss icon-border rss"> </a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div> -->
    <!-- //newsletter -->
    <div class="logo-footer">
      <div class="col-md-3 agileinfo_footer_grid">
        <h4>About Us</h4>
        <p>Duis aute irure dolor in esse cillum dolore eu fugiat nulla pariatur. <span>Excepteur sint proident 
						sunt in culpa qui officia anim id est laborum.</span></p>
      </div>
      <div class="col-md-3 agileinfo_footer_grid f1">
        <h4>Instagram Posts</h4>
        <div class="agileinfo_footer_grid1">
          <a href="#"><img src="./assets/images/f1.jpg" alt=" " class="img-responsive"></a>
        </div>
        <div class="agileinfo_footer_grid1">
          <a href="#"><img src="./assets/images/f2.jpg" alt=" " class="img-responsive"></a>
        </div>
        <div class="agileinfo_footer_grid1">
          <a href="#"><img src="./assets/images/f3.jpg" alt=" " class="img-responsive"></a>
        </div>
        <div class="agileinfo_footer_grid1">
          <a href="#"><img src="./assets/images/f4.jpg" alt=" " class="img-responsive"></a>
        </div>
        <div class="agileinfo_footer_grid1">
          <a href="#"><img src="./assets/images/f5.jpg" alt=" " class="img-responsive"></a>
        </div>
        <div class="agileinfo_footer_grid1">
          <a href="#"><img src="./assets/images/f6.jpg" alt=" " class="img-responsive"></a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-3 agileinfo_footer_grid f2">
        <h4>Information</h4>
        <div class="w3-agileits_mail_grid_left">
          <div class="w3-agileits_mail_grid_left1">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          </div>
          <div class="w3-agileits_mail_grid_left2">
            <h3>Mail Us</h3>
            <a href="mailto:luxnails@gmail.com">luxnails@gmail.com</a>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="w3-agileits_mail_grid_left">
          <div class="w3-agileits_mail_grid_left1">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </div>
          <div class="w3-agileits_mail_grid_left2">
            <h3>Address</h3>
            <p>1106 West Hefner Rd, Oklahoma City, OK 73114</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="w3-agileits_mail_grid_left">
          <div class="w3-agileits_mail_grid_left1">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
          </div>
          <div class="w3-agileits_mail_grid_left2">
            <h3>Phone</h3>
            <p>+1 (405)-302-4822</p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-3 agileinfo_footer_grid f3">
        <h4>Navigation</h4>
        <div class="nav-w3-l">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#about" class="scroll">About Us</a></li>
            <li><a href="#features" class="scroll">Features</a></li>
            <li><a href="#experts" class="scroll">Experts</a></li>
            <li><a href="#gallery" class="scroll">Gallery</a></li>
            <li><a href="#contact" class="scroll">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3agile_footer_copy">
      <p>© 2017 Lux Nails & Spa. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts.</a></p>
    </div>
  </div>
</div>
<!-- //footer -->