<!-- banner -->
<!-- Slider -->
<div class="slider">
  <div class="callbacks_container">
    <ul class="rslides" id="slider">
      <li>
        <div class="w3layouts-banner-top">
          <div class="container">
            <div class="slider-info">
              <h3>Enhance your</h3>
              <h4>health and beauty</h4>
              <h5><a href="#" class="view rew3" data-toggle="modal" data-target="#myModal5"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>Learn More</a></h5>
            </div>

          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
<!-- Modal5 -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Beauty Life</h4>
        <h5>Lorem ipsum dolor sit amet</h5>
        <img src="assets/images/b3.jpg" alt="blog-image" />
        <span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </div>
    </div>

  </div>
</div>
<!-- //Modal5 -->
<!-- //Slider -->
<!-- //banner -->
<!-- move-text -->
<div class="banner-w3l-bo">
  <div class="demo">
    <marquee behavior="scroll" style="background:#06b393; color:#fff;" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
      JOIN OUR DISCOUNT CLUB & SAVE 25% ON EVERYTHING!<span> HairCare online store available here.....</span><span>40%OFF YOUR FIRST ORDER </span>      <span>We offer a wide selection of spa services</span>
    </marquee>
  </div>
</div>
<!-- //move-text -->
