<!-- Experts -->
<div class="team w3layouts-agileits" id="experts">
  <div class="container">
    <h3>Meet Our Experts</h3>
    <ul class="ch-grid">
      <li>
        <div class="ch-item">				
          <div class="ch-info">
            <div class="ch-info-front ch-img-1"></div>
            <div class="ch-info-back">
              <h4>Eric Ho</h4>
              <p>Store Owner - Nails Specialist</p>
              <div class="icons">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>	
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item">
          <div class="ch-info">
            <div class="ch-info-front ch-img-2"></div>
            <div class="ch-info-back">
              <h4>Amelia Bell</h4>
              <p>Beauty Therapist</p>
              <div class="icons">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item">
          <div class="ch-info">
            <div class="ch-info-front ch-img-3"></div>
            <div class="ch-info-back">
              <h4>Grace Jone</h4>
              <p>Hair Stylist</p>
              <div class="icons">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item">
          <div class="ch-info">
            <div class="ch-info-front ch-img-4"></div>
            <div class="ch-info-back">
              <h4>Nicola Hill</h4>
              <p>Beautician</p>
              <div class="icons">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            

          </div>
        </div>
      </li>
    </ul>
  
  </div>
</div>
<!-- //Experts -->
