<!-- testimonial -->
<div class="testimonial">
  <!-- container -->
  <div class="container">
    <h3 class="w3layouts-title">Our CLIENTS SAY</h3> 
     <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active agileits-w3layouts">
          <div class="carousel-caption">
            <div class="testimonial-grids">
              <div class="testimonial-left">
                <img src="./assets/images/t2.jpg" alt="" />
              </div>
              <div class="testimonial-right">
                <h5>Veronica Renee Burroughs </h5>
                <p><span>"</span> Eric was very professional. He takes pride in what he does. I love my pedicure. I'll definitely be back. <span>"</span>
                </p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="item agileits-w3layouts"> 
          <div class="carousel-caption">
            <div class="testimonial-grids">
              <div class="testimonial-left">
                <img src="./assets/images/t4.jpg" alt="" />
              </div>
              <div class="testimonial-right">
                <h5>Geo Mehak</h5>
                <p><span>"</span> He is very professional love his work and he's very neat!! Will be going back! <span>"</span>
                </p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div> 
        </div>
        <div class="item agileits-w3layouts"> 
          <div class="carousel-caption">
            <div class="testimonial-grids">
              <div class="testimonial-left">
                <img src="./assets/images/t1.jpg" alt="" />
              </div>
              <div class="testimonial-right">
                <h5>Grace Jone</h5>
                <p><span>"</span> Love this place. Eric is awesome very creative. He loves what he does and takes his time. <span>"</span>
                </p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div> 
        </div>
      </div> 
    </div><!-- /.carousel -->  
  </div>
  <!-- //container -->
</div>
<!-- //testimonial --> 
