<!-- welcome -->
<div class="welcome" id="about">
  <div class="container">
    <div class="col-md-6 welcome-right">
      <div class="welcome-right-top">
        <img src="./assets/images/ab.jpg" alt="Beauty">
      </div>
      <div class="welcome-right-bottom">
        <img src="./assets/images/ab2.jpg" alt="Beauty">
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="col-md-6 welcome-left">
      <h3 class="wow fadeInLeft animated animated" data-wow-delay=".5s">Welcome</h3>
      <h4 class="wow fadeInLeft animated animated" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit amet eros sagittis, quis hendrerit libero aliquam. Fusce semper augue ac dolor efficitur, a pretium metus pellentesque.</h4>
      <p class="wow fadeInLeft animated animated" data-wow-delay=".5s">Sed posuere laoreet neque, eu rhoncus libero accumsan eget. Morbi tempor nibh ullamcorper urna hendrerit, at molestie tortor molestie. Suspendisse vel porttitor metus, vitae luctus velit. Donec dictum suscipit orci nec facilisis. Sed pretium eu diam id tincidunt. </p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //welcome -->

