<!-- Contact -->
<div class="agileinfo-contact" id="contact">
  <div class="container">
    <h3 class="agile">Schedule An Appointment</h3>
    <div class="w3_agile_mail_grids_agile">
      <div class="w3_agile_mail_left">
        <div class="agileits_mail_grid_right1 agile_mail_grid_right1">
          <form action="#" method="post">
            <span>
              <i>Name</i>
              <input type="text" name="Name" placeholder=" " required="">
            </span>
            <span>
              <i>Email</i>
              <input type="email" name="Email" placeholder=" " required="">
            </span>

            <span>
              <i>Message</i>
              <textarea name="Message" placeholder=" " required=""></textarea>
            </span>
            <input type="submit" value="Schedule Now">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3244.9444463601467!2d-97.53457904893563!3d35.57976298012102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b21be4e4ce08bb%3A0xe1921f23c6e3b1d!2sLux+nails+%26+Spa!5e0!3m2!1svi!2s!4v1504533235484"
    style="border:0"> </iframe>
</div>
<!-- //Contact -->